<h1 align='center'>Please sign in</h1>
<br>

<head>
<style>
body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
}
</style>
</head>

<form action='/sessions' method='post'>
  <div align='center'>
  <label for='email'>
    Email address: <input name='email' type='email'>
  </div>
  </label>
  <br>
<div align='center'>
  <label for='password'>
    Password: <input name='password' type='password'>
  </div>
  </label>
  <br>
  <div align='center'>
  <input type='submit' value='Sign in' class="btn btn-outline-secondary">
  </menu>
</div>
</form>
<div align='center'>
  <br>
or <a href="/users/new">create a new account</a>
</div>
