<h1 align='center'>Please sign in</h1>
<br>

<form action='/sessions' method='post'>
  <div align='center'>
  <label for='email'>
    Email address: <input name='email' type='email'>
  </div>
  </label>
  <br>
<div align='center'>
  <label for='password'>
    Password: <input name='password' type='password'>
  </div>
  </label>
  <br>
  <div align='center'>
  <input type='submit' value='Sign in'>
  </menu>
</div>
</form>
<div align='center'>
or <a href="/users/new">create a new account</a>
</div>
