<h1>Create an account</h1>

<form action='/users' method='post'>
<input name='email' type='text' placeholder="Enter your email">
<input name='password' type='password' placeholder="Enter your password">
<input type='submit' value='Sign up'>
</form>
