<!DOCTYPE html>

<html>

<h1> New Properties </h1>

<form action='/properties' method='POST'>
  <input type='text' name='description' placeholder='Enter description'>
  <input type='number' name='price' placeholder='Enter the price'>
  <input type='submit' value='Create Listing'>
</form>

</html>
