<h2>Search by location</h2>
<form method="post" action="/search_results">
  <label for="location">Location <input type="text" name="location"></label>
  <label for="checkin">Check in date<input type="date" name="checkin"></label>
  <label for="checkout">Check out date<input type="date" name="checkout"></label>

  <input type="submit" value="search">
</form>

