
<h1> New Properties </h1>

<form action='/properties' method='POST'>
  <input type='text' name='description' placeholder='Enter description'>
  <input type='number' name='price' placeholder='Enter the price'>
  <input type='text' name='location' placeholder="Property's location">
  <input type='text' name='imgdescription' placeholder='short image description'>

  <input type="file" name="pic" accept="image/*">
  <input type='submit' value='Create Listing'>
</form>


